<h1>Articles#index</h1>
<p>Find me in app/views/articles/index.html.erb</p>

 <div class="table-responsive">
   <table class="table table-hover">
     <thead>
       <tr>
         <th>Title</th>
         <th>Text</th>
       </tr>
     </thead>
     <tbody>
        <% @articles.each do |a| %>


       <tr>
         <td> <%= a.title %></td>
         <td> <%= a.text %></td>
       </tr>
       <% end %>
     </tbody>
   </table>

   <%= link_to 'Nuevo article',new_article_path%>
 </div>
