/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*= require redactor-rails

 */

 .header h2{

      font:400% bold;
      text-align: center;


 }

.header{
  margin: 20px auto
}

.article{
   background:#E1E0E0;
   border-radius: 10px;
   margin: 10px
}

.date{
   text-align: right;
   margin: 30px 20px 0 0px;
   font-size: 120%
}
.title{
  margin: 20px;
  font-size: 200%;
  font-weight: bold;
}
.last-article{
margin: 20px;
  font-size: 150%;
  font-weight: bold;
}

.last-article-text{
  background:#E1E0E0;
   border-radius: 5px;
   margin: 20px;
   padding: 5px
}

.text{
  margin: auto 50px;
  padding-bottom:10px;
}
.comments{
   margin: 20px 20px 10px 0px;
   text-align: right;
}

.comments-list{
    background:#E1E0E0;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 1px
}
.comments-text{

  margin-left: 20px;
  padding:20px;
  line-height: 15px
}
.comments-form{
   margin:0 20px 0 60px;
  text-align: right;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: black;
  text-decoration: none;
}

.autor-name{

    padding-top: 10px;
    font-weight: bold;
}

.avatar-comments{
  margin:20px;
}
